body {
    padding-top: 50px;
    /*padding-bottom: 40px;*/
    height: 100%;
}
html{
    height: 100%;
}

.help-block{
    list-style:none;
    padding-left: 0;
}

.zf-green {
    color: #68b604;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

#tabela td > a:link,
#tabela td > a:visited,
#tabela td > a:active
{
    color: #000;
    text-decoration:#000;
}

.dataTables_scrollHeadInner table{
    max-width: inherit !important;
}

.dataTables_scroll{
    border-top: 1px solid #E5E5E5;
}

.dividerButton{
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;
}

.modal {
    display: block;
    height: 0;
    overflow: visible;
}

.title-search{
    margin-top:10px;
    margin-bottom: 10px;
}

.input-loading{
    top:-25px;
    left: 5px;
    padding: 0;
    margin: 0
}

.steps a {
    padding: 10px 12px 10px 25px;
    margin-right: 5px;
    background: #efefef;
    position: relative;
    display: inline-block;
    color: #007ACC;
    text-decoration:none;
}
.steps a:hover {cursor: pointer; cursor: hand;}
.steps a.disabled:hover, a.current:hover {
    cursor: default;
}

.steps a.disabled {
    color: #000;
}

.steps a:before {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
.steps a:after {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #efefef;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}
/*.steps a:last-child:after,*/
.steps a:first-child:before {
    border: none;
}
.steps a:first-child {
    padding-left:15px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.steps a:last-child {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.steps .current {
    background: #007ACC;
    color: #fff;
}
.steps .current:after {
    border-left-color: #007ACC;
}